*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    background-image: url('backgroumd.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.role-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.role {
    cursor: pointer;
    text-align: center;
    color: #555;
}

.role img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.role p {
    font-size: 16px;
}

.role:hover img {
    transform: scale(1.1);
}

.login-form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    display: none;
}

.login-form-container h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

.login-form-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form-container button {
    width: 100%;
    padding: 10px;
    background-color: #5a67d8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form-container .forgot-password {
    color: #5a67d8;
    cursor: pointer;
    margin-top: 10px;
}

.login-form-container .forgot-password:hover {
    text-decoration: underline;
}

.sign-up-form-container {
    display: none;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.sign-up-form-container h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

.sign-up-form-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-up-form-container button {
    width: 100%;
    padding: 10px;
    background-color: #5a67d8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
}
